h1{color: white;
   font-weight: bold;
   font-size: 36px;
   background-color:lightgreen;
   text-align: center;
   max-width: 800px;
   border-radius: 5px;
}
span{background:linear-gradient(transparent 65%,yellow 65%);}
.kadomaru{background-color: lightgray;
          max-width: 300px;
          text-align: center;           
          border-radius: 5px;
}
.cv-contents figure{float: left;}
.clearfix:after{content: "";
                display: block;
                clear: both;
}
.cv-contents{line-height: 50px;}
a{background-color: darkblue;
  color: white;
  border-radius: 5px;
  text-decoration: none;
  max-width: 300px;
  display: block;
  text-align: center;
  animation: prunprun 2.2s ease-in infinite;
  -webkit-animation:prunprun 2.2s ease-in infinite;
  -moz-animation:prunprun 2.2s ease-in infinite;
  -o-animation:prunprun 2.2s ease-in infinite;
  -ms-animation:prunprun 2.2s ease-in infinite;
}
@keyframes prunprun{
    48%,62%{transform: scale(1.0,1.0);}
    50%{transform: scale(1.1,0.9);}
    56%{transform: scale(0.9,1.1)translate(0,-5px);}
    59%{transform: scale(1.0,1.0)translate(0,-3px);}
}
@-weblit-keyframes prunprun{
    48%,62%{-webkit-transform:scale(1.0,1.0);}
    50%{-webkit-transform:scale(1.1,0.9);}
    56%{-webkit-transform:scale(0.9,1.1)translate(0,-5px);}
    59%{-webkit-transform:scale(1.0,1.0)translate(0,-3px);}
}
a:hover{background-color: blue;
        color: white;
}
a:active{background-color: pink;
         color: white;
}
@media screen and(max-width:600px){
    body{font-size: 1.6vw;
         background-color: lightpink;
    }
    h1{font-size: 1.6vw;}
    a{font-size: 3.0vw;}
    img{max-width: 50%;}
    .cv-contents figure{float: none;max-width: 200px;}
}
